

<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width'>
</html>
    <body>
        <p> Whole: <%= whole %></p>
        <p> Gender: <%= gender %></p>
        <p> Precise_birthday: <%= precise_birthday %></p>
        <p> Out_of_many: <%= out_of_many %></p>
        <p> Hospital: <%= hospital %></p>
    </body>